<section class="last-section hide">
  <div class="selection lastStep">
    <h2 id="finish-subtitle"><%=translation.OBRIGADO%>!</h2>
    <h3 id="finish-subsubtitle"><%=translation.recebera%></h3>
    <a href="#simulator">
      <button class="orange-big-button" id="voltar-inicio">
        <%=translation.outrosServicos%>
      </button>
    </a>
    <div class="line"></div>

    <p class="lorem">
      <span><img src="/imgs/Note-îcon.png" alt="" /></span>
      Digiquot is a quote simulator provider. Digiquot is not responsible for
      the final proposals sent by agencies or freelancers
    </p>
  </div>
</section>
