<%- include("headerTerms") -%>
<section>
  <h1 class="title" style="padding-top: 10rem; text-align: center">
    Digiquot.com Terms and Conditions
  </h1>
  <p class="big-block-text">
    The user declares to accept and act in accordance with the Terms and
    Conditions of use described here, as well as with all future modifications,
    by using the service provided by Digiquot.com on this website. In the terms
    and conditions mentioned here, whenever the terms "we" or "our" are used, we
    refer to Digiquot.com. Whenever we use "you" or "yours", we refer to anyone
    who uses Digiquot.com. <br />
    <br />
    <b> General</b> <br />
    Access and use of this website are subject to the following Terms and
    Conditions, as well as our Privacy Policy. By browsing this website, the
    user agrees to act in accordance with these Terms and Conditions and Privacy
    Policy. If you do not agree with its content, the user is not allowed to
    access and use the website and must terminate access and / or use
    immediately. If you violate any of the terms included here your right to
    access and use this website will be terminated immediately. We reserve the
    right to make changes to the Terms of Use from time to time without
    providing any prior notice. The amended Terms of Use take effect from the
    date they are announced on this website. As these Terms of Use are amended
    from time to time, you should check them whenever you visit this website.
    The continued access and use of the website must represent your acceptance
    of the amended Terms of Use. Digiqout.com reserves the right to share the
    data you have entered on the website - as well as other data or documents
    that you have freely shared with Digiquot.com - with its partners, to be
    able to access simulations or proposals from different products for you or
    in the sense that these partners contact you, proposing the purchase of some
    good or service, according to what you have researched. Digiquot.com also
    reserves the right to contact you directly, proposing you to purchase a
    product or service from a partner, as well as to contact you in order to
    cross sell (cross sell) products / services. Digiquot.com partners are
    several companies and freelancers from the digital marketing sectors and /
    or advertising agencies in this business area in question. <br />
    <br />
    <b>Our service</b> <br />
    We offer an impartial online service that allows you to compare products and
    digital marketing solutions provided by third parties. Our comparison
    service is free of charge for the user. In addition, we allow you to obtain
    assistance and help offline (via email) in the use of this website, either
    by us or by our partners related to the services available on the
    Digiquot.com website. We do not charge for this service. Keep in mind that
    no content on this website should be understood as a final choice or
    recommendation for any of the products or services presented here. The
    information on this website is provided to help you choose the product or
    service that best suits your interests. However, it is only your
    responsibility to check the suitability of the product or service of
    interest, as well as the decision to obtain or refrain from purchasing any
    product or service. Please keep in mind that nothing on this website is or
    should be considered as a representation of a proposal by us or any third
    party to sell you any product or service or to enter into any contract with
    you regarding any product or service. service. By providing us with your
    data, you are submitting a proposal to purchase the product or service from
    the associated third party based on your own terms and conditions. We aim to
    provide you with uninterrupted access to this website. However, we cannot
    assure you of the continued availability of this website. We retain the
    right to suspend, limit or terminate your access to this website at any
    time. We reserve the right to submit, amend, delete, edit, remove or modify
    any data, content, materials or information displayed on this website at any
    time. <br />
    <br />
    <b>Permitted use.</b> <br />
    You are only allowed to access and use this website for personal and
    non-commercial functions, which means that this website should only be
    accessed and used directly by private individuals or by a company that
    intends to purchase something for that person or company on their behalf.
    Access and use of this website outside the context of personal and
    non-commercial functions is strictly prohibited. You cannot use this
    website: • In any illegal, fraudulent, or commercial manner. • To hurt,
    abuse, embarrass, defame, slander, threaten or harass another person or
    company, or in a manner that invades another's privacy or is obscene,
    offensive, hateful, indecent, inappropriate, objectionable, unacceptable,
    discriminatory, or harmful, so determined by us. • To produce, verify,
    confirm, update, modify or amend your registration information, files or
    directories, as well as that of others. • To modify or reverse engineer any
    part of the website. • In a way that interferes, disrupts, or imposes an
    unreasonable or disproportionate additional burden on our communications and
    technical systems, as determined by us. • Using any automated computer code,
    process, program, robot, internet crawler, spider, data processor, drag or
    screen scraping alternatives to computer codes, processes, programs, or
    systems. <br />
    <br />
    <b>Intellectual property rights</b> <br />
    The information, content and material rights displayed on this website
    belong to Digiquot.com. You can print, copy, transfer or store excerpts of
    content, material or information presented on this website for personal use
    if you accept the following conditions: <br />
    <br />
    <b>Disclaimers</b> <br />
    We make every effort to ensure that the information, material and knowledge
    on our website is correct and to rectify any errors or omissions, as soon as
    possible, when notified of them. However, we are not responsible if the
    information, material and knowledge from third parties on the website is
    inaccurate or there are any errors or omissions in the data, materials and
    information. We do not recommend any information material and data submitted
    or from third parties presented on our website, and you should keep in mind
    that such information may also be inaccurate, incomplete or out of date. We
    will not be held responsible for any knowledge, materials or data on the
    website that come from third parties. We do not provide any guarantee that
    the website or any information contained therein or any third-party website
    is free from viruses or any agent that may have a harmful impact on any
    technology. We have no liability for loss or damage resulting from the
    inability to access the website and for any use of the website that is
    beyond our control. We are not responsible or liable for any losses or
    indirect damages suffered or incurred by you or that would not be
    foreseeable when you accessed or used this website. This includes any loss
    of savings you expect to make, services, business opportunities, profits or
    revenues or any loss or damage you may suffer or incur in connection with
    your use of this website that was not anticipated by us when you used this
    website. Some of our channels may give you access to third party websites
    that may contain reviews regarding various products and services. In some
    moments you can even access user comments on the website. The opinions
    expressed on third party websites do not represent our point of view and
    will not be counted for the effectiveness or content of any opinions or
    expressions. <br />
    <br />
    <b>Exclusions of Our Liability</b> <br />
    You can order a variety of products and services through this website.
    Products and services are provided by third parties. You are entirely
    responsible for your choice of product or service. We are not responsible or
    liable for any loss or damage that you may suffer or incur as a result of
    any product or service that you acquire when using this website or for any
    acts, omissions, errors or negligence of third parties, related to such
    product or service. Please keep in mind that the data and descriptions of
    the products and services on this website may not represent the entire
    descriptions of all options and terms and conditions for these products and
    services. Be sure to carefully check all options and terms and conditions
    for any product or service before ordering them. If you request and purchase
    a product or service, you will contact a third party who is providing you
    with that product or service on its own terms and conditions. It is entirely
    your responsibility to confirm that you agree to these terms and conditions
    before entering into a contract to purchase that product or service. We are
    not responsible or blame for any loss or damage you may suffer or incur as a
    result of the terms and conditions applied to any contract initiated by you
    with any third party with respect to any product or service or for any acts,
    omissions, errors or negligence of any third party in reference to those
    terms and conditions. We provide links from this website and emails sent to
    you as part of our service to third parties. Consequently, we mention
    websites that are managed by third parties, over which we have no control.
    The user accesses and uses these third-party websites at his own risk and
    sole discretion. You are fully responsible for any use of these websites and
    for any attempt to obtain or refrain from purchasing any products or
    services present on those websites. Any links to third party websites are
    provided for your interest and convenience. We are not responsible for any
    loss or damage that you may suffer or incur because of using third party
    websites or for any acts, omissions, errors or negligence mentioned on that
    website. The use of any third-party website is governed by the terms and
    conditions and privacy policy of that same website. Such terms and
    conditions and privacy policy may differ entirely from these Terms and
    Conditions, as well as from our Privacy Policy. It is your responsibility to
    look up the terms and conditions and privacy policy of the respective
    website before using it. We are not responsible or liable for any loss or
    damage you may suffer or incur due to the terms and conditions or privacy
    policy of any third-party website or for any acts, omissions, errors or
    negligence of any third party as a result of its terms and conditions and /
    or privacy policy. <br />
    <br />
    <b>Procedure for appeal</b> <br />
    Digiquot.com is owned and managed by Digiquot. It is our intention to
    provide all our users with a high level of service and satisfaction.
    However, if you wish to make a complaint about any aspect of our services,
    please contact us via our email: support@digiquot.com. In order to deal with
    any COMPLAINTS, our working days are established from 10 am to 6 pm, from
    Monday to Friday, except holidays. Please note that if your complaint is
    related to any product or service purchased through this website, you should
    make it directly to the supplier responsible for the product or service you
    wish to complain about. We cannot respond to complaints regarding products
    or services from suppliers or carry any responsibility for any complaints of
    this nature. We recommend the user to visit the website corresponding to the
    supplier of the product or service and follow his complaint procedure, if he
    wishes to make a complaint against him. <br />
    <br />
    <b> User Responsibilities</b> <br />
    You must take all necessary precautions to ensure that any data, materials,
    content or information you make available (including User Content, as
    described above) is free from viruses, spyware, malicious software and any
    agent that may cause a contaminating impact, harmful or harmful to any part
    of this website or third party websites or other technology. The user must
    complete the registration as part of his use of this website. Your username
    and password must be confidential and must not be revealed or shared with
    anyone. If you decide to share such information with someone, you are fully
    responsible for all activities carried out on this website using your
    username and password. The user is fully responsible for his conduct on this
    website and for the content that he inserts here. You must ensure that such
    content does not violate any rights of privacy, ownership of rights (such as
    copyright, information rights and trademarks) or alternative rights of any
    third party (including any right of confidentiality). In addition, user
    content must not violate any law, and must not be harmful, fraudulent,
    threatening, defamatory, embarrassing, distressing, transgressive, abusive,
    inflammatory, scary, hostile, libelous, persecuting, profane, obscene,
    indecent, inappropriate, hateful, discriminatory or racial, ethically and
    sexually or in any other questionable way. The user agrees that he will be
    liable for any damages, losses, requirements, demands, liabilities or
    expenses (including small legal fees) that we may suffer as a result of his
    conduct on this website and / or due to its co
  </p>
</section>
<section>
  <h1 class="title" style="text-align: center">Privacy Policy.</h1>
  <p class="big-block-text">
    At Digiquot.com (“We”) we are committed to protecting and respecting the
    user's privacy. <br />
    This policy (“Policy”) explains what personal information we collect about
    visitors to our website -
    <a href="https://www.digiquot.com"> https://www.digiquot.com</a>
    (“Website”) -, when and why we collect it, how it is used, under what
    conditions can we disclose them to third parties and how do we keep them
    safe. We appreciate that you read it carefully to know our points of view
    and our practices regarding your personal data and the way they are treated.
  </p>
  <h1 class="title pp-title">Who we are?</h1>
  <p class="big-block-text">
    Digiquot.com is Digiquot.com Lda., A digital marketing services comparison
    platform and a Private Limited Company registered in Portugal under the
    number of legal person 516030523. Our address is Rua de Henrique de Paiva
    Couceiro, nº10 2700 -453 Amadora.
  </p>
  <h1 class="title pp-title">What we do.</h1>
  <p class="big-block-text">
    We work with leading service providers to offer you the best possible deals
    on logo services; social media; websites; online stores; IF THE; google a
    facebook ads and cyber security. In order to provide you with this service,
    we need to collect and process certain personal information about you and
    disclose some of this information to third parties (detailed information
    below). More specifically, for our website to work, it is necessary to
    transfer your information to our service provider partners. When you use our
    website, we use a link to refer you to these third party product providers,
    or ask you to enter personal information directly on our platform which we
    later use to personalize the product offers we present to you and which we
    share with the third party supplier of products of your choice, in order to
    allow the user to complete their purchase. You can find more detailed
    information about how we process and share your personal information in this
    Policy.
  </p>
  <h1 class="title pp-title">Collection and use of information.</h1>
  <p class="big-block-text">
    User information is collected when you use our website, for example, when
    you use our service to search for products and prices or when you contact us
    to clarify an issue. We may also collect data (via cookies, drivers and
    tags) on how you use our website, for example, the website you accessed
    immediately before our website, the pages you saw and other actions taken on
    our website. The following table shows the type of personal information that
    we may collect about you and the purposes for which we may use it. Tipo de
    Informações Finalidade: <br />
    Informações que o utilizador nos poderá fornecer Informações pessoais –
    Dados de identificação (nome, data de nascimento, estado civil, NIF), Dados
    sócio-profissionais (situação profissional, formação académica),
    Solvabilidade (rendimentos, despesas) Para identificar o utilizador e
    personalizar quaisquer comunicações efetuadas com o utilizador. Para
    verificar a identidade do utilizador por razões de segurança. Para permitir
    a atuação do ComparaJá.pt como intermediário de crédito, no sentido de
    proceder à respetiva recolha de dados para a proposta. Para encontrar os
    serviços mais adequados ao caso concreto do utilizador, mediante a sua
    solicitação. Informações de contacto – endereço, endereço de email, número
    de telefone Para fornecer ao utilizador informações, produtos e serviços que
    o mesmo nos tenha solicitado e que sejam adequados às suas necessidades,
    incluindo a apresentação de orçamentos de comparação de preços e de
    alterações dos serviços. Tal poderá incluir a possibilidade de partilharmos
    com o seu fornecedor de produtos dados relacionados com o produto que
    adquiriu. Para lhe enviar um email de confirmação do seu orçamento ou dos
    detalhes da conta. Para administrar qualquer promoção ou concurso em que
    participe através do nosso website. Para o notificar acerca das alterações
    aos nossos serviços e para lhe enviar emails de serviço relacionados com a
    sua conta. Para efeitos de gestão e funcionamento da conta que tem connosco.
    Caso autorize, também poderemos utilizar esta informação para efeitos de
    marketing direto, por exemplo, para lhe dar informações acerca de outros
    bens e serviços que fornecemos e que são semelhantes àqueles sobre os quais
    já solicitou informações ou para lhe apresentar um orçamento de renovação
    anual personalizado. Informações confidenciais – informações médicas,
    histórico profissional, estado civil Quando relevante, para lhe fornecer os
    produtos e prestar serviços que sejam adequados à sua situação. Para efeitos
    de garantir uma divulgação completa e exata ao fornecedor de produtos da sua
    escolha. Informações que recolhemos automaticamente sobre o utilizador
    Informação técnica – endereço de IP, informações de início de sessão, tipo
    de browser, sistema operativo, fuso horário Para garantir que os conteúdos
    do website são apresentados da forma mais eficaz para o utilizador e para o
    respetivo computador. Para permitir a participação do utilizador em
    funcionalidades interativas do nosso serviço quando o mesmo optar pela sua
    utilização. Como parte dos nossos esforços para manter o nosso website
    seguro. Informações sobre a sua visita – URL, sequência de cliques para,
    através e a partir do nosso site (incluindo a data e hora), tempos de
    resposta da página, erros de transferência Para administrar o site e para
    efeitos de operações internas, de resolução de problemas, de teste, de
    pesquisa, de estatística e de inquéritos. Para permitir a participação do
    utilizador em funcionalidades interativas do nosso serviço quando o mesmo
    optar pela sua utilização. Para monitorizar as visualizações que o
    utilizador faz dos produtos dos nossos parceiros (ou seja, prestadores de
    serviços), e para monitorizar as vendas concluídas desses produtos. Para
    medir ou compreender a eficácia da publicidade que apresentamos ao
    utilizador ou a outros utilizadores e para lhe fornecer anúncios relevantes.
    Para apresentar sugestões ou recomendações ao utilizador ou a outros
    utilizadores do nosso site sobre bens ou serviços que possam ter interesse.
    Como parte dos nossos esforços para manter o nosso site seguro. Informações
    que recebemos de outras fontes Informações (detalhes sobre as aquisições,
    preferências de produtos, pesquisas e datas de renovação de produtos
    relativamente ao utilizador) de terceiros (como prestadores de serviços,
    redes de publicidade, fornecedores de análises, fornecedores de informações
    de pesquisa). Obtemos informações acerca das suas aquisições de produtos a
    fornecedores de produtos para efeitos de monitorização de vendas às quais
    estamos ligados. Informações (detalhes sobre as aquisições, preferências de
    produtos, pesquisas e datas de renovação de produtos relativamente ao
    utilizador) de terceiros (como prestadores de serviços, redes de
    publicidade, fornecedores de análises, fornecedores de informações de
    pesquisa). Também recebemos informações pessoais acerca do utilizador de
    determinados fornecedores de produtos com os quais o utilizador possa ter
    lidado anteriormente. Efetuamos o tratamento acerca das suas aquisições
    anteriores e acerca das datas de renovação em nome desses fornecedores para
    podermos (i) identificar o utilizador quando utiliza o nosso Website e (ii)
    subsequentemente, alertar esses fornecedores de produtos dessas atividades
    de forma a que possam adequar a forma como comunicam com o utilizador e dar
    uma resposta adequada às suas necessidades de produto. <br />
    The collection of personal data about the user through the use that he makes
    of our Website will be carried out only when necessary for the fulfillment
    of the purposes indicated above.
  </p>
  <h1 class="title pp-title">
    Processing of personal data and obtaining user authorization.
  </h1>
  <p class="big-block-text">
    When necessary, we obtain the user's authorization to process your personal
    data - for example, when we want to use your contact details for marketing
    purposes or when the personal data we are collecting from the user is
    "sensitive" and not we are legally permitted to carry out the processing of
    such personal data on the basis of other legal grounds. When user
    authorization is required to process your personal data, the user can
    withdraw authorization for this treatment at any time by contacting us via
    email support@digiquot.com or using the contact details below. However,
    please be aware that withdrawing the authorization will not affect the
    lawfulness of the treatment carried out based on the authorization given by
    the user before canceling it. When we process your personal data for the
    purposes of direct marketing, we will register any objections you make,
    interrupting the processing of your data for the purposes of direct
    marketing, so as not to contact you again. There may be cases where we
    process your personal data for the purpose of legitimate self-interest or
    based on other legitimate grounds (that is, because we establish a
    relationship with you and we need to process your personal data to provide
    you with the information and / or services you requested), without obtaining
    the user's authorization - applicable when the processing activities are
    governed by the applicable legislation of certain jurisdictions in which we
    operate that do not require obtaining authorization when there are other
    legitimate grounds for to process the relevant personal data. In such cases,
    in general, we do not seek to obtain the user's authorization so that we can
    provide the services to you efficiently (or, in some cases, when it may not
    be possible to obtain the user's authorization because we have to process
    personal data, for example, to detect fraud). Before processing your
    personal data, we will take into account the rights and freedoms of the user
    and will only start this treatment when we consider that the user's rights
    will not be violated.
  </p>
  <h1 class="title pp-title">Keeping your information</h1>
  <p class="big-block-text">
    All information you provide to us will be stored on our secure servers
    hosted abroad. We maintain appropriate administrative, technical and
    physical safeguards to protect against the loss, misuse or unauthorized
    access, disclosure, alteration or destruction of your personal information
    in accordance with applicable local law. In cases where we have assigned you
    (or the user has chosen) a password that allows you to access certain parts
    of our website, it is the user's responsibility to keep this password
    confidential. We ask that you do not share your password with anyone.
    Unfortunately, the transmission of information via the Internet is not
    entirely secure. Although we do our best to protect your personal data, we
    cannot guarantee the security of user data that is transmitted to our
    website; any transmission is done at the user's own risk and risk. When we
    have received your information, we will use strict procedures and security
    features to try to prevent unauthorized access.
  </p>
  <h1 class="title pp-title">Period during which we keep your personal data</h1>
  <p class="big-block-text">
    We only keep your personal data as long as we need it to fulfill the purpose
    for which it was collected or provided to us (except when a legal obligation
    requires us to keep it for longer).
  </p>
  <h1 class="title pp-title">Transfers of your information</h1>
  <p class="big-block-text">
    We limit access to the personal data we collect about you to our employees
    and third-party agents who we reasonably believe need access to your
    information in order to provide you with the information or services you
    have requested from us. Such third parties may include: • Our product
    supplier partners; • Our subcontractors, business partners, suppliers or
    other approved third party organizations that provide us, or any other
    partner, with administrative, IT or other services; • Analysis and search
    engine providers that help us to improve and optimize our website; •
    Advertisers and advertising networks that need the data to select and
    deliver relevant ads to the user and other users; or • Third parties linked
    to the transfer of all or any part of our business or assets. When we share
    information with our product supplier partners, these entities will be able
    to aggregate the personal data of the user that they receive from us with
    other personal data that they already have about the user. We will also
    disclose your personal information to third parties if we are required to
    disclose or share that personal data in order to comply with a legal
    obligation or to protect the rights, property or security of Digiquot.com,
    our customers or third parties. . This includes exchanging information with
    other companies and organizations for the purpose of protecting against
    fraud and reducing credit risk. Our services are provided through this
    website and the information you provide will not be transferred to countries
    outside the European Economic Area ("EEA"). You can get more details about
    these security measures by contacting us at support@digiquot.com. If we
    transfer your personal information, we will always do so under strict
    conditions of confidentiality and similar levels of security safeguard.
  </p>
  <h1 class="title pp-title">User rights</h1>
  <p class="big-block-text">
    In accordance with European Union data protection legislation, the user has
    the following rights: • Access. You can contact us at any time to request
    access to the personal information we have about you. We will confirm
    whether we are processing your personal data, provide details of the
    categories of personal data in question and the reasons for the processing.
    We may also, on request, provide you with a copy of your personal
    information. • Rectification. If the information we have appears to be
    incorrect, we will not use it or allow others to use it until it is
    verified. You can ask us to correct or complete your personal data by
    contacting us at any time. As far as possible, we will inform anyone who has
    received your personal data of any changes made to them. • Limitation. In
    certain circumstances, it may be possible to request that we limit the way
    in which we treat your personal information (that is, ask us to continue to
    retain your personal data, but that we do not carry out any processing
    without your authorization). • Elimination. You can request that the
    information in your account be deleted or removed. We will try to do so
    immediately and, as far as possible, we will inform other entities that have
    received your personal information from your order. However, we are required
    to control certain information about transactions, such as past purchases
    and similar information, for the purpose of legal compliance, so in certain
    circumstances, we may not be able to completely delete your information. •
    Receive / transfer your personal data. You can also request that we send you
    the personal data we hold about you in an accessible and structured
    electronic format or ask us to send this data to another entity. Please note
    that if you choose to ask us to send your personal data to another entity,
    this may have an impact on our ability to provide you with the products and
    services you have requested. • Objection. When we process your personal
    information without your permission in order to exercise our legitimate
    interests, you may object to the treatment we take of your personal data.
    Specifically, when we use your personal data to contact you for marketing
    purposes, you can object to this treatment at any time. • Automated decision
    making. You have the right to be informed of any automated decision making,
    including the creation of a profile used in connection with your personal
    data and we will provide you with information about the logic we follow, as
    well as the meaning and consequences of such treatment. • Claims. If you are
    within the EEA and believe that the treatment we carry out of your personal
    data violates data protection legislation, you have the right to file a
    complaint with the appropriate data protection supervisory authority in the
    country where you are located or in any other country. place in the EEA
    where you believe this violation has occurred. You can find a list of EU
    national data protection authorities here. You can also contact us at any
    time if you want to make a complaint about the treatment we carry out of
    your personal data.
  </p>
  <h1 class="title pp-title">Changes to your details or preferences</h1>
  <p class="big-block-text">
    It is our goal to keep our records as up to date as possible. You can
    review, change or delete the details you provided to us through this website
    by contacting us via supoport@digiquot.com. Depending on your location and
    the nature of our personal data processing activities, the laws of
    jurisdictions such as the EU may apply to your personal data. In such cases,
    you may have the right to ask us not to process your personal data for
    marketing purposes. In general, in these circumstances, we will inform you
    (before we collect your data) about whether we intend to use your data for
    marketing purposes or whether we intend to disclose your data to third
    parties for such purposes. You can make use of your right to prevent such
    treatment by checking specific options on the forms we use to collect your
    data or by contacting us at support@digiquot.com. Please note that if you
    ask us to delete your data it may impact our ability to provide you with the
    services you have requested. In addition, we may monitor certain information
    for the purpose of legal compliance, so in certain circumstances, we may not
    be able to completely eliminate it.
  </p>
  <h1 class="title pp-title">Cookies and similar technologies</h1>
  <p class="big-block-text">
    Digiquot.com and the third parties that provide services to us configure and
    use cookies and similar technologies to distinguish the user from other
    users of our Website and to improve the performance and usefulness of the
    Website. The use of cookies and similar technologies is normal on websites
    and applications through which information about your online activities is
    gathered. A cookie is a small data file that websites place on your hard
    drive when you visit them. A cookie file may contain information such as a
    user ID that controls the pages you have visited on that site. Cookies on
    this website they are mainly used to recognize a user who has visited the
    website previously and to monitor user traffic patterns. We do not link this
    information to data about individual users, nor do we share or sell this
    information to any third parties. <br />
    Cookie Finalidade: <br />
    AWSELB Este cookie tem como objetivo distribuir os nossos visitantes pelos
    diferentes servidores da web. Não contém informações pessoais. CGG_DOMAIN,
    CGG_ID, CGG_V_Count Sem classificação. JSESSIONID Este cookie é utilizado
    para contabilizar o número de visitantes no site que permite que o Google
    Analytics conte o número de sessões exclusivas. MUID / MUIDB, _uetsid O Bing
    recolhe o endereço IP, a página Web, o URL de referência, a palavra-chave,
    as configurações de idioma do navegador, as propriedades de cor, a altura, a
    largura e as informações de clique no anúncio. PHPSESSID Guarda os dados da
    sessão durante uma visita ao site. Conjunto de uma aplicação PHP feita pelo
    The PHPGroup, que é uma ferramenta de framework de aplicações web utilizada
    para construir websites. _tq_id.TV- * Utilizado para otimizar a publicidade
    na TV, seguindo as sessões e os tempos de conversão em comparação com o
    tempo de antena do anúncio na TV. ld O DCM é usado por anunciantes premium e
    agências de publicidade para gerir campanhas digitais em websites e
    aplicações para dispositivos móveis. _ga Este cookie é utilizado para ler o
    domínio atual, início e fim da sessão, fonte, visitantes únicos, número e
    períodos de visitas anteriores. _gid Utilizado para diferenciar
    utilizadores. _vwo_uuid_v2 Este cookie é utilizado para entender o
    comportamento do utilizador e medir como diferentes versões se comportam em
    relação umas às outras. incap_ses_ * visid_incap_ * Cookies que garantem que
    a conexão com o servidor seja estabelecida com segurança. Datr, fr, lu O
    Facebook usa cookies para medir o desempenho de campanhas publicitárias de
    empresas que usam produtos do Facebook. Os cookies também permitem que o
    Facebook sirva e meça anúncios em diferentes navegadores e dispositivos
    usados pela mesma pessoa.
  </p>
  <h1 class="title pp-title">Types of cookies we use.</h1>
  <p class="big-block-text">
    Then, you can find a list of cookies with brief descriptions to better
    inform our users about the reasons why we use cookies on our website.
  </p>
  <h1 class="title pp-title">Manage cookies.</h1>
  <p class="big-block-text">
    If you prefer not to receive cookies through the website, you can configure
    your browser to notify you before accepting cookies and refuse cookies when
    your browser alerts you to their presence. For more information about
    cookies, including how to configure your browser to reject cookies, visit
    <a href="www.allaboutcookies.org">www.allaboutcookies.org</a>
  </p>
  <h1 class="title pp-title">Validity of cookies</h1>
  <p class="big-block-text">
    Cookies will remain on your computer when you close your browser. Until they
    are removed, cookies will be enabled again when you open the website again.
    The user can delete cookies at any time and the cookies will not collect any
    information when the user is not accessing the website.
  </p>
  <h1 class="title pp-title">Other monitoring technologies</h1>
  <p class="big-block-text">
    In addition to cookies, our website also uses the following monitoring
    technologies: • Local shared objects / Flash cookies: Flash cookies, also
    known as local shared objects, are designed to support browser content
    supported by Adobe® Flash. They are generally used to allow the transmission
    of advertisements and video content on websites. As with other cookies, they
    store information on your device, some of which will be specific to Flash
    content. Flash cookies can only be eliminated through Adobe® Flash and not
    through your browser. Please refer to the following help page for
    information on how to manage your privacy settings and the elimination of
    Flash cookies. • ETag / Entity Tag: a feature of the browser's cache, an
    ETag is an opaque identifier assigned by a web server to a specific version
    of a resource present in a URL. If the content of the existing resource at
    that URL ever changes, a new and different ETag is assigned. When used in
    this way, ETags are a way of identifying devices. ETag monitoring can
    generate unique monitoring values even when the consumer blocks HTTP, Flash
    and / or HTML5 cookies. • Web server and application logs: Our servers
    automatically gather certain information to help us administer and protect
    the services we provide, analyze usage and improve the user experience. The
    information collected includes: o IP address and browser type; o Device
    operating system and other technical facts; o The city, district and country
    from which you are accessing the Website; o The pages visited and the
    contents viewed and stored; o Information or text entered; o Clicked links
    and buttons.
  </p>
  <h1 class="title pp-title">Links to third party websites</h1>
  <p class="big-block-text">
    Our website contains links to the websites of our partner advertisers,
    affiliates and product supplier partners. If you follow a link to any of
    these websites or channels, please note that they have their own privacy
    policies; we do not accept any responsibility for these policies or for the
    personal information you may submit on these sites regardless of your
    interaction with our Website. Check these policies before submitting your
    personal data to these websites or channels.
  </p>
  <h1 class="title pp-title">Changes to our privacy policy</h1>
  <p class="big-block-text">
    Any future changes made to our privacy policy will be posted on this page
    and, where appropriate, we will notify you by email. Check frequently to see
    if there are any updates or changes to our privacy policy.
  </p>
  <h1 class="title pp-title">How to contact us</h1>
  <p class="big-block-text">
    Any questions, comments and requests regarding this privacy policy are
    welcome and should be addressed to
    <a href="mailto:support@digiquot.com">support@digiquot.com.</a>
  </p>
</section>
<%- include("footer") -%>
