<%- include("headerTerms") -%>
<section>
  <h1 class="title" style="padding-top: 10rem; text-align: center">
    Termos e Condições de Digiquot.com
  </h1>
  <p class="big-block-text">
    O utilizador manifesta aceitar e agir em conformidade com os Termos e
    Condições de utilização aqui descritos, assim como com todas as suas futuras
    modificações, pelo facto de utilizar o serviço disponibilizado pela
    Digiquot.com neste site. Nos termos e condições aqui mencionados, sempre que
    forem utilizados os termos "nós" ou "nosso", referimo-nos a Digiquot.com.
    Sempre que utilizarmos "você" ou "seu", referimo-nos a qualquer pessoa que
    utiliza o Digiquot.com <br />
    <br />
    <b>Geral</b> <br />
    O acesso e utilização deste website estão sujeitos aos Termos e Condições
    seguintes, assim como à nossa Política de Privacidade. Ao navegar neste
    website, o utilizador concorda em agir de acordo com estes Termos e
    Condições e Política de Privacidade. Em caso de não concordar com o seu
    conteúdo, o usuário não está permitido a aceder e utilizar o website,
    devendo terminar o acesso e/ou a utilização imediatamente. Se violar
    qualquer um dos termos aqui incluídos, o seu direito de aceder e utilizar
    este website será terminado imediatamente. Reservamo-nos no direito de
    realizar alterações aos Termos de Utilização de tempos a tempos sem
    providenciar anteriormente qualquer notificação. Os Termos de Utilização
    emendados têm efeito a partir da data em que são anunciados neste website.
    Como estes Termos de Utilização são emendados de tempos a tempos, deve
    conferi-los sempre que visitar este website. O acesso continuado e
    utilização do website devem representar a sua aceitação dos Termos de
    Utilização emendados. O Digiqout.com reserva-se o direito de partilhar os
    dados que introduziu no website - bem como outros dados ou documentos que
    livremente tenha partilhado com o Digiquot.com - com os seus parceiros, por
    forma a poder aceder a simulações ou propostas de diversos produtos para si
    ou no sentido de estes parceiros o contactarem, propondo-lhe a aquisição de
    algum bem ou serviço, segundo aquilo que tenha pesquisado. O Digiquot.com
    reserva-se também o direito de o contactar diretamente, propondo-lhe a
    aquisição de algum produto ou serviço de um seu parceiro, bem como de o
    contactar no sentido de fazer cross selling (vendas cruzadas) de
    produtos/serviços. Os parceiros do Digiquot.com são diversas empresas e
    freelancers dos setores de marketing digital e/ou agências de publicidade
    desta área de negócio em questão. <br />
    <br />
    <b>O nosso serviço</b> <br />
    Oferecemos um serviço online imparcial que lhe permite comparar produtos e
    soluções de marketing digital fornecidos por terceiros. O nosso serviço de
    comparação não tem custos para o utilizador. Adicionalmente, permitimos-lhe
    que obtenha assistência e ajuda offline (através de email) na utilização
    deste website, seja por nós ou por parceiros nossos relacionados com os
    serviços disponibilizados no website Digiquot.com. Não cobramos por este
    serviço. Tenha em mente que nenhum conteúdo deste website deve ser entendido
    como escolha final ou recomendação de quaisquer dos produtos ou serviços
    aqui apresentados. A informação contida neste website é fornecida para
    ajudar a escolher o produto ou serviço que melhor atenda aos seus
    interesses. No entanto, é somente da sua responsabilidade verificar a
    adequabilidade do produto ou serviço do seu interesse, assim como a decisão
    de obter ou abster-se de adquirir qualquer produto ou serviço. Por favor,
    tenha em mente que nada neste website é ou deve ser considerado como uma
    representação de uma proposta pela nossa parte ou por parte de quaisquer
    terceiros de lhe vender qualquer produto ou serviço ou de entrar em qualquer
    contrato consigo, respeitante a qualquer produto ou serviço. Ao fornecer-nos
    os seus dados, está a apresentar uma proposta para adquirir o produto ou
    serviço à terceira parte associada baseada nos seus próprios termos e
    condições. Temos o intuito de lhe fornecer acesso ininterrupto ao presente
    website. No entanto, não podemos assegurar-lhe uma disponibilidade
    ininterrupta deste website. Conservamo-nos no direito de suspender, limitar
    ou terminar o seu acesso ao presente website em qualquer momento.
    Reservamo-nos no direito de apresentar, emendar, apagar, editar, retirar ou
    modificar quaisquer dados, conteúdos, materiais ou informações exibidos
    neste website em qualquer momento. <br />
    <br />
    <b>Uso permitido</b> <br />
    Apenas lhe é permitido aceder e utilizar este website para funções pessoais
    e não comerciais, o que significa que este website deve somente ser acedido
    e utilizado diretamente por indivíduos privados ou por uma empresa que
    pretenda adquirir algo para essa pessoa ou empresa em sua representação. O
    acesso e uso deste website fora do contexto de funções pessoais e não
    comerciais são estritamente proibidos. Não pode utilizar este website: • De
    qualquer forma ilegal, fraudulenta ou comercial; • Para magoar, abusar,
    embaraçar, difamar, caluniar, ameaçar ou assediar outra pessoa ou empresa,
    ou de forma que invada a privacidade de outrem ou que seja obscena,
    ofensiva, odiosa, indecente, inapropriada, censurável, inaceitável,
    discriminatória ou prejudicial, assim determinado por nós; • Para produzir,
    verificar, confirmar, atualizar, modificar ou emendar o seu registo de
    informações, arquivos ou diretórios, assim como de outras pessoas; • Para
    modificar ou reverter engenharia de qualquer parte do website; • De forma
    que interfira, perturbe ou imponha um encargo adicional insensato ou
    desproporcional nas nossas comunicações e sistemas técnicos, assim
    determinado por nós; • Utilizando qualquer código automático computorizado,
    processo, programa, robot, internet crawler, spider, processador de dados,
    arrasto ou alternativas de screen scraping a códigos de computador,
    processo, programa ou sistema. <br />
    <br />
    <b>Direitos de propriedade intelectual</b> <br />
    Os direitos de informação, conteúdo e material expostos neste website
    pertencem a Digiquot.com. Pode imprimir, copiar, transferir ou armazenar
    excertos de conteúdo, material ou informação apresentados neste website para
    uso pessoal se aceitar as seguintes condições: <br />
    <br />
    <b>Exclusões de responsabilidade</b> <br />
    Fazemos todos os esforços para assegurar que a informação, o material e
    conhecimento no nosso website estão corretos e retificar quaisquer erros ou
    omissões, logo que seja possível, quando notificados dos mesmos. No entanto,
    não nos responsabilizamos se a informação, o material e conhecimento
    provenientes de terceiros no website são imprecisos ou existem quaisquer
    erros ou omissões nos dados, materiais e informações. Não recomendamos
    qualquer material de informação e dados submetidos ou provenientes de
    terceiros apresentados no nosso website, e deve ter em mente que tal
    informação poderá também ser imprecisa, incompleta ou desatualizada. Não
    seremos responsabilizados por quaisquer conhecimentos, materiais ou dados no
    website provenientes de terceiros. Não providenciamos qualquer garantia de
    que o website ou qualquer informação nele contido ou qualquer website de
    terceiros é livre de vírus ou qualquer agente que possa ter um impacto
    prejudicial em qualquer tecnologia. Não possuímos qualquer responsabilidade
    por perdas ou danos decorrentes da incapacidade de aceder ao website e por
    qualquer uso do mesmo que está além do nosso controlo. Não somos
    responsáveis ou culpados por quaisquer perdas ou danos indiretos sofridos ou
    incorridos por si ou que não seriam previsíveis quando acedeu ou utilizou
    este website. Isto inclui qualquer perda de poupanças que espera fazer,
    serviços, oportunidades de negócio, lucros ou receitas ou qualquer perda ou
    dano que pode sofrer ou incorrer relacionados com a sua utilização deste
    website que não fossem previstos por nós quando utilizou este website.
    Alguns dos nossos canais podem dar-lhe acesso a websites de terceiros que
    podem conter revisões a respeito de vários produtos e serviços. Em alguns
    momentos até poderá aceder a comentários de usuários no website. As opiniões
    expressas em websites de terceiros não representam o nosso ponto de vista e
    não serão contabilizadas para a eficácia ou conteúdo de qualquer opinião ou
    expressões. <br />
    <br />
    <b>Exclusões de nossa responsabilidade</b> <br />
    Poderá solicitar uma variedade de produtos e serviços através deste website.
    Os produtos e serviços são fornecidos por terceiros. É inteiramente
    responsável pela sua escolha de produto ou serviço. Não nos
    responsabilizamos ou culpabilizamos por qualquer perda ou prejuízo que possa
    sofrer ou incorrer como resultado de algum produto ou serviço que adquira ao
    utilizar este website ou por quaisquer atos, omissões, erros ou negligências
    de terceiros, relacionados com tal produto ou serviço. Por favor, tenha em
    mente que os dados e descrições dos produtos e serviços presentes neste
    website poderão não representar a totalidade das descrições de todas as
    opções e termos e condições destes produtos e serviços. Assegure-se que
    verifica atentamente todas as opções e termos e condições de qualquer
    produto ou serviço antes de solicitá-los. Se solicitar e adquirir algum
    produto ou serviço, entrará em contacto com um terceiro que lhe está a
    fornecer esse produto ou serviço nos seus próprios termos e condições. É
    inteiramente sua a responsabilidade de confirmar que concorda com esses
    termos e condições antes de iniciar um contrato para adquirir esse produto
    ou serviço. Não nos responsabilizamos ou culpabilizamos por qualquer perda
    ou prejuízo que possa sofrer ou incorrer como resultado dos termos e
    condições aplicados a qualquer contrato iniciado por si com algum terceiro
    respeitante a qualquer produto ou serviço ou por quaisquer atos, omissões,
    erros ou negligências de qualquer terceiro em referência a esses termos e
    condições. Disponibilizamos hiperligações a partir deste website e de emails
    a si enviados como parte do nosso serviço para terceiros. Consequentemente,
    mencionamos websites que são geridos por terceiros, sobre os quais não
    possuímos qualquer controlo. O usuário acede e utiliza estes websites de
    terceiros por seu próprio risco e exclusiva discrição. É totalmente
    responsável por qualquer uso desses websites e por qualquer tentativa de
    obter ou abster-se de adquirir quaisquer produtos ou serviços presentes
    nesses websites. Quaisquer links com destino a websites de terceiros são
    proporcionados para seu interesse e conveniência. Não nos responsabilizamos
    por qualquer perda ou prejuízo que possa sofrer ou incorrer como resultado
    da utilização de websites de terceiros ou por quaisquer atos, omissões,
    erros ou negligências mencionados nesse website. A utilização de qualquer
    website de terceiros é regulada pelos termos e condições e política de
    privacidade desse mesmo website. Tais termos e condições e política de
    privacidade podem diferir totalmente dos presentes Termos e Condições, assim
    como da nossa Política de Privacidade. É da sua responsabilidade procurar os
    termos e condições e política de privacidade do respetivo website antes de o
    utilizar. Não nos responsabilizamos ou culpabilizamos por qualquer perda ou
    prejuízo que possa sofrer ou incorrer devido aos termos e condições ou à
    política de privacidade de qualquer website de terceiros ou por quaisquer
    atos, omissões, erros ou negligências de qualquer terceiro como resultado
    dos seus termos e condições e/ou política de privacidade. <br />
    <br />
    <b>Procedimento ao recurso</b> <br />
    Digiquot.com é propriedade e gerido pela Digiquot. É nossa intenção
    proporcionar a todos os nossos usuários um nível elevado de serviço e
    satisfação. Porém, se desejar efetuar alguma reclamação sobre qualquer
    aspeto dos nossos serviços, por favor contacte-nos através do nosso email:
    support@digiquot.com. Com a finalidade de se tratarem quaisquer RECLAMAÇÕES,
    os nossos dias de trabalho estão estabelecidos das 10h às 18h, de
    segunda-feira a sexta-feira, exceto feriados. Por favor, tome nota de que,
    caso a sua queixa esteja relacionada com algum produto ou serviço adquirido
    através deste website, deverá efetuá-la diretamente ao fornecedor
    responsável pelo produto ou serviço do qual pretende reclamar. Não podemos
    responder a reclamações relativas a produtos ou serviços de fornecedores ou
    acarretar qualquer responsabilidade por quaisquer queixas desta natureza.
    Recomendamos ao utilizador que visite o website correspondente ao fornecedor
    do produto ou serviço e siga o seu procedimento de reclamação, se desejar
    realizar alguma reclamação contra o mesmo. <br />
    <br />
    <b>Responsabilidades do Utilizador</b> <br />
    O utilizador deve tomar todas as precauções necessárias para assegurar que
    quaisquer dados, materiais, conteúdos ou informações que disponibiliza
    (incluindo Conteúdo do Utilizador, como descrito anteriormente) estão livres
    de vírus, spyware, software malicioso e qualquer agente que possa provocar
    um impacto contaminante, prejudicial ou danoso em qualquer parte deste
    website ou websites de terceiros ou outra tecnologia. O usuário deve
    completar o registo como parte da sua utilização deste website. O seu nome
    de utilizador e palavra-passe devem ser confidenciais e não serem revelados
    ou partilhados com ninguém. Se decidir partilhar tais informações com
    alguém, é totalmente responsável por todas as atividades efetuadas neste
    website através do seu nome de utilizador e palavra-passe. O utilizador é
    totalmente responsável pela sua conduta neste website e pelo conteúdo que
    aqui inserir. Deve garantir que esse conteúdo não viola quaisquer direitos
    de privacidade, titularidade de direitos (tais como direitos de autor,
    direitos de informação e marcas registadas) ou direitos alternativos de
    quaisquer terceiros (incluindo qualquer direito de confidencialidade). Além
    disso, o conteúdo do utilizador não deve violar qualquer lei, não devendo
    ser prejudicial, fraudulento, ameaçador, difamatório, embaraçoso,
    angustiante, transgressor, abusivo, inflamatório, assustador, hostil,
    calunioso, perseguidor, profano, obsceno, indecente, inapropriado, odioso,
    discriminatório ou racial, ética e sexualmente ou de qualquer outra forma
    questionável. O utilizador concorda que será responsabilizado por quaisquer
    danos, perdas, requerimentos, exigências, responsabilizações ou despesas
    (incluindo pequenas taxas legais) que possamos sofrer como resultado da sua
    conduta neste website e/ou devido ao seu conteúdo.
  </p>
</section>

<section>
  <h1 class="title" style="text-align: center">Política de Privacidade</h1>
  <p class="big-block-text">
    No Digiquot.com (“Nós”) estamos comprometidos com a proteção e respeito pela
    privacidade do utilizador. <br />
    A presente política (“Política”) explica quais as informações pessoais que
    recolhemos acerca dos visitantes do nosso website -
    <a href="https://www.digiquot.com">https://www.digiquot.com</a> (“Website”)
    -, quando e por que motivo as recolhemos, como são utilizadas, em que
    condições é que as podemos divulgar a terceiros e como é que as mantemos
    seguras. Agradecemos que leia a mesma atentamente para conhecer os nossos
    pontos de vista e as nossas práticas relativamente aos seus dados pessoais e
    à forma como estes são tratados.
  </p>
  <h1 class="title pp-title">Quem somos</h1>
  <p class="big-block-text">
    O Digiquot.com é o Digiquot.com Lda., uma plataforma de comparação de
    serviços de marketing digital e uma Sociedade por Quotas registada em
    Portugal com o número de pessoa coletiva 516030523. O nosso endereço é Rua
    de Henrique de Paiva Couceiro, nº10 2700-453 Amadora.
  </p>
  <h1 class="title pp-title">O que fazemos</h1>
  <p class="big-block-text">
    Trabalhamos com os principais prestadores de serviços para lhe oferecer os
    melhores negócios possíveis relativamente a serviços de logotipo; redes
    sociais; websites; lojas online; SEO; google a facebook ads e Ciber
    segurança. Para lhe prestar este serviço, necessitamos de recolher e efetuar
    o tratamento de determinadas informações pessoais acerca do utilizador e
    divulgar algumas destas informações a terceiros (informação detalhada
    infra). Mais especificamente, para que o nosso Website funcione, é
    necessário transferir as suas informações para os nossos parceiros
    fornecedores de serviços. Quando utiliza o nosso Website, utilizamos uma
    hiperligação para referenciar o utilizador a estes terceiros fornecedores de
    produtos, ou pedimos-lhe para introduzir informações pessoais diretamente na
    nossa plataforma que posteriormente utilizamos para personalizar as ofertas
    de produtos que lhe apresentamos e que partilhamos com o terceiro fornecedor
    de produtos da sua escolha, de forma a permitir que o utilizador conclua a
    sua compra. Poderá encontrar informação mais detalhada acerca da forma como
    efetuamos o tratamento e partilhamos as suas informações pessoais nesta
    Política.
  </p>
  <h1 class="title pp-title">Recolha e utilização de informações</h1>
  <p class="big-block-text">
    As informações sobre o utilizador são recolhidas quando utiliza o nosso
    Website, por exemplo, quando utiliza o nosso serviço para procurar produtos
    e preços ou quando nos contacta para esclarecer uma questão. Também podemos
    recolher dados (através de cookies, controladores e etiquetas) sobre a forma
    como utiliza o nosso website, por exemplo, o website a que acedeu
    imediatamente antes do nosso website, as páginas que viu e outras ações
    efetuadas no nosso website. A tabela seguinte apresenta o tipo de
    informações pessoais que poderemos recolher acerca do utilizador e os fins
    para os quais as podemos utilizar. <br />
    Tipo de Informações Finalidade Informações que o utilizador nos poderá
    fornecer Informações pessoais – Dados de identificação (nome, data de
    nascimento, estado civil, NIF), Dados sócio-profissionais (situação
    profissional, formação académica), Solvabilidade (rendimentos, despesas)
    Para identificar o utilizador e personalizar quaisquer comunicações
    efetuadas com o utilizador. Para verificar a identidade do utilizador por
    razões de segurança. Para permitir a atuação do ComparaJá.pt como
    intermediário de crédito, no sentido de proceder à respetiva recolha de
    dados para a proposta. Para encontrar os serviços mais adequados ao caso
    concreto do utilizador, mediante a sua solicitação. Informações de contacto
    – endereço, endereço de email, número de telefone Para fornecer ao
    utilizador informações, produtos e serviços que o mesmo nos tenha solicitado
    e que sejam adequados às suas necessidades, incluindo a apresentação de
    orçamentos de comparação de preços e de alterações dos serviços. Tal poderá
    incluir a possibilidade de partilharmos com o seu fornecedor de produtos
    dados relacionados com o produto que adquiriu. Para lhe enviar um email de
    confirmação do seu orçamento ou dos detalhes da conta. Para administrar
    qualquer promoção ou concurso em que participe através do nosso website.
    Para o notificar acerca das alterações aos nossos serviços e para lhe enviar
    emails de serviço relacionados com a sua conta. Para efeitos de gestão e
    funcionamento da conta que tem connosco. Caso autorize, também poderemos
    utilizar esta informação para efeitos de marketing direto, por exemplo, para
    lhe dar informações acerca de outros bens e serviços que fornecemos e que
    são semelhantes àqueles sobre os quais já solicitou informações ou para lhe
    apresentar um orçamento de renovação anual personalizado. Informações
    confidenciais – informações médicas, histórico profissional, estado civil
    Quando relevante, para lhe fornecer os produtos e prestar serviços que sejam
    adequados à sua situação. Para efeitos de garantir uma divulgação completa e
    exata ao fornecedor de produtos da sua escolha. Informações que recolhemos
    automaticamente sobre o utilizador. <br />
    Informação técnica – endereço de IP, informações de início de sessão, tipo
    de browser, sistema operativo, fuso horário Para garantir que os conteúdos
    do website são apresentados da forma mais eficaz para o utilizador e para o
    respetivo computador. Para permitir a participação do utilizador em
    funcionalidades interativas do nosso serviço quando o mesmo optar pela sua
    utilização. Como parte dos nossos esforços para manter o nosso website
    seguro. Informações sobre a sua visita – URL, sequência de cliques para,
    através e a partir do nosso site (incluindo a data e hora), tempos de
    resposta da página, erros de transferência Para administrar o site e para
    efeitos de operações internas, de resolução de problemas, de teste, de
    pesquisa, de estatística e de inquéritos. Para permitir a participação do
    utilizador em funcionalidades interativas do nosso serviço quando o mesmo
    optar pela sua utilização. Para monitorizar as visualizações que o
    utilizador faz dos produtos dos nossos parceiros (ou seja, prestadores de
    serviços), e para monitorizar as vendas concluídas desses produtos. Para
    medir ou compreender a eficácia da publicidade que apresentamos ao
    utilizador ou a outros utilizadores e para lhe fornecer anúncios relevantes.
    Para apresentar sugestões ou recomendações ao utilizador ou a outros
    utilizadores do nosso site sobre bens ou serviços que possam ter interesse.
    Como parte dos nossos esforços para manter o nosso site seguro. Informações
    que recebemos de outras fontes Informações (detalhes sobre as aquisições,
    preferências de produtos, pesquisas e datas de renovação de produtos
    relativamente ao utilizador) de terceiros (como prestadores de serviços,
    redes de publicidade, fornecedores de análises, fornecedores de informações
    de pesquisa). Obtemos informações acerca das suas aquisições de produtos a
    fornecedores de produtos para efeitos de monitorização de vendas às quais
    estamos ligados. Informações (detalhes sobre as aquisições, preferências de
    produtos, pesquisas e datas de renovação de produtos relativamente ao
    utilizador) de terceiros (como prestadores de serviços, redes de
    publicidade, fornecedores de análises, fornecedores de informações de
    pesquisa). Também recebemos informações pessoais acerca do utilizador de
    determinados fornecedores de produtos com os quais o utilizador possa ter
    lidado anteriormente. Efetuamos o tratamento acerca das suas aquisições
    anteriores e acerca das datas de renovação em nome desses fornecedores para
    podermos (i) identificar o utilizador quando utiliza o nosso Website e (ii)
    subsequentemente, alertar esses fornecedores de produtos dessas atividades
    de forma a que possam adequar a forma como comunicam com o utilizador e dar
    uma resposta adequada às suas necessidades de produto. <br />
    <br />
    A recolha de dados pessoais acerca do utilizador através da utilização que
    faz do nosso Website será efetuada apenas quando necessária para o
    cumprimento das finalidades indicadas acima.
  </p>
  <h1 class="title pp-title">
    Tratamento dos dados pessoais e obtenção de autorização do utilizador
  </h1>
  <p class="big-block-text">
    Quando seja necessário, obtemos a autorização do utilizador para efetuar o
    tratamento dos seus dados pessoais – por exemplo, quando quisermos utilizar
    os seus detalhes de contacto para efeitos de marketing ou quando os dados
    pessoais que estejamos a recolher do utilizador sejam "sensíveis" e não nos
    seja legalmente permitido efetuar o tratamento desses dados pessoais com
    base noutros fundamentos legais. Quando seja necessária a autorização do
    utilizador para efetuar o tratamento dos seus dados pessoais, o utilizador
    pode retirar a autorização a este tratamento em qualquer altura, entrando em
    contacto connosco através do email support@digiquot.com ou utilizando os
    detalhes de contacto abaixo. No entanto, tenha em atenção que retirar a
    autorização não irá afetar a licitude do tratamento efetuado com base na
    autorização dada pelo utilizador antes de a anular. Quando efetuarmos o
    tratamento dos seus dados pessoais para efeitos de marketing direto, iremos
    registar qualquer objeção que efetue, interrompendo o tratamento dos seus
    dados para efeitos de marketing direto, de forma a não o contactar
    novamente. Poderão existir casos em que efetuamos o tratamento dos seus
    dados pessoais para efeitos de interesses próprios legítimos ou com base
    noutras fundamentações legítimas (isto é, porque estabelecemos uma relação
    com o utilizador e necessitamos de efetuar o tratamento dos seus dados
    pessoais para lhe fornecer as informações e/ou serviços que solicitou), sem
    termos, para isso, obtido a autorização do utilizador – aplicável quando as
    atividades de tratamento são regidas pela legislação aplicável de
    determinadas jurisdições em que funcionamos que não exigem a obtenção de
    autorização quando existam outras fundamentações legítimas para efetuar o
    tratamento dos dados pessoais relevantes. Nesses casos, de forma geral, não
    procuramos obter a autorização do utilizador para lhe podermos fornecer os
    serviços de forma eficiente (ou, em alguns casos, quando possa não ser
    possível obter a autorização do utilizador porque temos de efetuar o
    tratamento de dados pessoais, por exemplo, para detetar fraudes). Antes de
    efetuarmos o tratamento dos seus dados pessoais teremos em consideração os
    direitos e liberdades do utilizador e apenas daremos início a esse
    tratamento quando considerarmos que os direitos do utilizador não serão
    violados.
  </p>
  <h1 class="title pp-title">Conservação das suas informações</h1>
  <p class="big-block-text">
    Todas as informações que nos fornecer serão armazenadas nos nossos
    servidores seguros alojados no estrangeiro. Mantemos as devidas salvaguardas
    administrativas, técnicas e físicas adequadas para proteger contra a perda,
    utilização indevida ou acesso não autorizado, divulgação, alteração ou
    destruição das suas informações pessoais em conformidade com a legislação
    local aplicável. No casos em que lhe tenhamos atribuído (ou o utilizador
    tenha escolhido) uma palavra-passe que lhe permita aceder a determinadas
    partes do nosso site, é da responsabilidade do utilizador manter esta
    palavra-passe confidencial. Pedimos-lhe que não partilhe a palavra-passe com
    ninguém. Infelizmente, a transmissão de informação via Internet não é
    totalmente segura. Apesar de fazermos o nosso melhor para proteger os seus
    dados pessoais, não podemos garantir a segurança dos dados do utilizador que
    são transmitidos para o nosso site; qualquer transmissão é feita por conta e
    risco do utilizador. Quando tivermos recebido a sua informação, utilizaremos
    procedimentos rigorosos e funcionalidades de segurança para tentar evitar
    acessos não autorizados.
  </p>
  <h1 class="title pp-title">
    Período durante o qual conservamos os seus dados pessoais
  </h1>
  <p class="big-block-text">
    Só conservamos os seus dados pessoais enquanto necessitarmos dos mesmos para
    cumprir a finalidade para a qual foram recolhidos ou nos foram fornecidos
    (exceto quando uma obrigação legal exija que os mantenhamos por mais tempo).
  </p>
  <h1 class="title pp-title">Transferências das suas informações</h1>
  <p class="big-block-text">
    Limitamos o acesso aos dados pessoais que recolhemos acerca do utilizador
    aos nossos funcionários e agentes de terceiros que acreditemos razoavelmente
    que necessitem de ter acesso às suas informações para lhe fornecerem as
    informações ou serviços que nos solicitou. Esses terceiros poderão incluir:
    • Os nossos parceiros fornecedores de produtos; • Os nossos subcontratantes,
    parceiros de negócio, fornecedores ou outras organizações terceiras
    aprovadas que nos forneçam ou a qualquer outro parceiro, serviços
    administrativos, de TI ou de outra natureza; • Fornecedores de análises e de
    motor de pesquisa que nos ajudam a melhorar e otimizar o nosso site; •
    Anunciantes e redes de publicidade que necessitem dos dados para selecionar
    e fornecer anúncios relevantes ao utilizador e a outros utilizadores; ou •
    Entidades terceiras ligadas à transferência de toda ou qualquer parte do
    nosso negócio ou dos nossos ativos. Quando partilharmos informações com os
    nossos parceiros fornecedores de produtos, estas entidades poderão agregar
    os dados pessoais do utilizador que recebam de nós com outros dados pessoais
    que já possuam acerca do utilizador. Iremos ainda divulgar as informações
    pessoais do utilizador a terceiros caso sejamos obrigados a divulgar ou a
    partilhar esses dados pessoais de forma a cumprir uma obrigação legal ou
    para proteger os direitos, a propriedade ou a segurança do Digiquot.com, dos
    nossos clientes ou de terceiros. Isto inclui troca de informação com outras
    empresas e organizações para efeitos de proteção contra fraudes e redução do
    risco de crédito. Os nossos serviços são fornecidos através deste Website e
    as informações que nos facultar não serão transferidas para países fora do
    Espaço Económico Europeu ("EEE"). Pode obter mais detalhes acerca destas
    medidas de segurança contactando-nos através do email support@digiquot.com.
    Se transferirmos as suas informações pessoais, iremos fazê-lo sempre
    mediante condições restritas de confidencialidade e níveis de salvaguarda de
    segurança semelhantes.
  </p>
  <h1 class="title pp-title">Direitos do utilizador</h1>
  <p class="big-block-text">
    Nos termos da legislação de proteção de dados da União Europeia, o
    utilizador possui os seguintes direitos: • Acesso. Pode contactar-nos em
    qualquer altura para solicitar o acesso às informações pessoais que
    possuímos sobre o utilizador. Iremos confirmar se estamos a efetuar o
    tratamento dos seus dados pessoais, fornecer detalhes das categorias de
    dados pessoais em questão e das razões para o tratamento. Também poderemos,
    mediante pedido, fornecer-lhe uma cópia das suas informações pessoais. •
    Retificação. Caso as informações que possuímos pareçam incorretas, não
    iremos utilizá-las nem permitir que outros as utilizem até as mesmas serem
    verificadas. Pode pedir-nos para corrigir ou completar os seus dados
    pessoais contactando-nos em qualquer momento. Na medida do possível, iremos
    informar qualquer pessoa que tenha recebido os seus dados pessoais de
    quaisquer alterações efetuadas aos mesmos. • Limitação. Em determinadas
    circunstâncias, poderá ser possível solicitar que limitemos a forma como
    tratamos as suas informações pessoais (ou seja, pedir-nos que continuemos a
    conservar os seus dados pessoais, mas que não efetuemos qualquer tratamento
    sem a sua autorização). • Eliminação. Poderá solicitar que as informações
    existentes na sua conta sejam eliminadas ou removidas. Tentaremos fazê-lo
    imediatamente e, na medida do possível, iremos informar outras entidades que
    tenham recebido as suas informações pessoais do seu pedido. Contudo, somos
    obrigados a controlar determinadas informações sobre transações, como
    compras anteriores e informações semelhantes, para efeitos de conformidade
    legal, pelo que, em determinadas circunstâncias, poderemos não conseguir
    eliminar totalmente as suas informações. • Receber/transferir os seus dados
    pessoais. Também poderá solicitar que lhe enviemos os dados pessoais que
    detemos acerca do utilizador num formato eletrónico acessível e estruturado
    ou solicitar-nos que enviemos estes dados para outra entidade. Tenha em
    atenção que caso opte por nos solicitar o envio dos seus dados pessoais para
    outra entidade, esse facto pode ter impacto na nossa capacidade de lhe
    fornecer os produtos e serviços que solicitou. • Objeção. Quando tratarmos
    as suas informações pessoais sem a sua autorização de forma a exercermos os
    nossos interesses legítimos, poderá opor-se ao tratamento que fazemos dos
    seus dados pessoais. Especificamente, quando utilizarmos os seus dados
    pessoais para o contactar para efeitos de marketing, poderá opor-se a esse
    tratamento em qualquer altura. • Tomada de decisão automatizada. Tem o
    direito de ser informado de qualquer tomada de decisão automatizada,
    incluindo a criação de um perfil utilizado em ligação aos seus dados
    pessoais e iremos fornecer-lhe informações sobre a lógica que seguimos, bem
    como sobre o significado e as consequências desse tratamento. • Reclamações.
    Caso se encontre dentro do EEE e acredite que o tratamento que efetuamos dos
    seus dados pessoais viola a legislação sobre proteção de dados, tem o
    direito de fazer uma reclamação junto da autoridade de controlo de proteção
    de dados adequada no país onde se encontra ou em qualquer local no EEE onde
    acredite que essa violação ocorreu. Pode encontrar uma lista das autoridades
    nacionais de proteção de dados da UE aqui. Poderá ainda contactar-nos em
    qualquer momento caso pretenda fazer uma reclamação sobre o tratamento que
    efetuamos dos seus dados pessoais.
  </p>
  <h1 class="title pp-title">Alterações aos seus detalhes ou preferências</h1>
  <p class="big-block-text">
    É o nosso objetivo manter os nossos registos tão atualizados quanto
    possível. Pode rever, alterar ou eliminar os detalhes que nos forneceu
    através deste Website contactando-nos através do supoport@digiquot.com.
    Dependendo da sua localização e da natureza das nossas atividades de
    tratamento de dados pessoais, podem aplicar-se aos seus dados pessoais a
    legislação de jurisdições como por exemplo a da UE. Nesses casos, poderá ter
    o direito de nos solicitar para não efetuarmos o tratamento dos seus dados
    pessoais para efeitos de marketing. Em geral, nessas circunstâncias, iremos
    informá-lo (antes de procedermos à recolha dos seus dados) sobre se
    tencionamos utilizar os seus dados para efeitos de marketing ou se
    tencionamos divulgar os seus dados a terceiros para tais efeitos. Pode fazer
    uso do seu direito de impedir esse tratamento ao assinalar opções
    específicas nos formulários que utilizamos para recolher os seus dados ou
    contactando-nos através do support@digiquot.com. Tenha em atenção que caso
    nos solicite para eliminarmos os seus dados isso pode ter impacto na nossa
    capacidade para lhe fornecer os serviços que solicitou. Adicionalmente,
    poderemos monitorizar determinadas informações para efeitos de conformidade
    legal, pelo que, em determinadas circunstâncias, poderemos não conseguir
    eliminá-las por completo.
  </p>
  <h1 class="title pp-title">Cookies e tecnologias semelhantes</h1>
  <p class="big-block-text">
    Cookie Finalidade: <br />
    AWSELB Este cookie tem como objetivo distribuir os nossos visitantes pelos
    diferentes servidores da web. Não contém informações pessoais. CGG_DOMAIN,
    CGG_ID, CGG_V_Count Sem classificação. JSESSIONID Este cookie é utilizado
    para contabilizar o número de visitantes no site que permite que o Google
    Analytics conte o número de sessões exclusivas. MUID / MUIDB, _uetsid O Bing
    recolhe o endereço IP, a página Web, o URL de referência, a palavra-chave,
    as configurações de idioma do navegador, as propriedades de cor, a altura, a
    largura e as informações de clique no anúncio. PHPSESSID Guarda os dados da
    sessão durante uma visita ao site. Conjunto de uma aplicação PHP feita pelo
    The PHPGroup, que é uma ferramenta de framework de aplicações web utilizada
    para construir websites. _tq_id.TV- * Utilizado para otimizar a publicidade
    na TV, seguindo as sessões e os tempos de conversão em comparação com o
    tempo de antena do anúncio na TV. ld O DCM é usado por anunciantes premium e
    agências de publicidade para gerir campanhas digitais em websites e
    aplicações para dispositivos móveis. _ga Este cookie é utilizado para ler o
    domínio atual, início e fim da sessão, fonte, visitantes únicos, número e
    períodos de visitas anteriores. _gid Utilizado para diferenciar
    utilizadores. _vwo_uuid_v2 Este cookie é utilizado para entender o
    comportamento do utilizador e medir como diferentes versões se comportam em
    relação umas às outras. incap_ses_ * visid_incap_ * Cookies que garantem que
    a conexão com o servidor seja estabelecida com segurança. Datr, fr, lu O
    Facebook usa cookies para medir o desempenho de campanhas publicitárias de
    empresas que usam produtos do Facebook. Os cookies também permitem que o
    Facebook sirva e meça anúncios em diferentes navegadores e dispositivos
    usados pela mesma pessoa. <br />
    O Digiquot.com e as entidades terceiras que nos fornecem serviços configuram
    e utilizam cookies e tecnologias semelhantes para distinguir o utilizador de
    outros utilizadores do nosso Website e para melhorar o desempenho e
    utilidade do Website. A utilização de cookies e de tecnologias semelhantes é
    normal em websites e aplicações através dos quais se reúnem informações
    sobre as suas atividades online. Um cookie é um pequeno ficheiro de dados
    que os websites colocam no seu disco rígido quando os visita. Um ficheiro
    cookie pode conter informações como um ID de utilizador que controla as
    páginas que visitou nesse site. Os cookies deste website são principalmente
    utilizados para reconhecer um utilizador que tenha visitado o website
    anteriormente e para monitorizar padrões de tráfego do utilizador. Não
    relacionamos estas informações com dados acerca de utilizadores individuais,
    nem partilhamos ou vendemos estas informações a quaisquer terceiros.
  </p>
  <h1 class="title pp-title">Tipos de cookies que utilizamos</h1>
  <p class="big-block-text">
    Em seguida, poderá encontrar uma lista de cookies com descrições breves para
    melhor informar os nossos utilizadores sobre as razões pelas quais
    utilizamos cookies no nosso site.
  </p>
  <h1 class="title pp-title">Gerir os cookies</h1>
  <p class="big-block-text">
    Caso prefira não receber cookies através do website, pode configurar o seu
    browser para o avisar antes de aceitar cookies e recusar cookies quando o
    seu browser o alertar para a presença dos mesmos. Para obter mais
    informações sobre cookies, incluindo como configurar o seu browser para
    rejeitar cookies, visite
    <a href="www.allaboutcookies.org">www.allaboutcookies.org</a>
  </p>
  <h1 class="title pp-title">Validade dos cookies</h1>
  <p class="big-block-text">
    Os cookies permanecerão no seu computador quando fechar o browser. Até serem
    removidos, os cookies serão novamente ativados quando voltar a abrir o
    website. O utilizador pode eliminar os cookies em qualquer momento e os
    cookies não irão reunir qualquer informação quando o utilizador não estiver
    a aceder ao website.
  </p>
  <h1 class="title pp-title">Outras tecnologias de monitorização</h1>
  <p class="big-block-text">
    Para além dos cookies, o nosso website também utiliza as seguintes
    tecnologias de monitorização: • Objetos locais partilhados/Flash cookies: os
    flash cookies, também conhecidos como objetos locais partilhados foram
    concebidos para dar suporte aos conteúdos do browser suportados pelo Adobe®
    Flash. Geralmente são utilizados para permitir a transmissão de anúncios e
    de conteúdos de vídeo em websites. Tal como acontece com outros cookies,
    armazenam informações no seu dispositivo, algumas das quais serão
    específicas dos conteúdos com Flash. Os flash cookies só podem ser
    eliminados através do Adobe® Flash e não através do seu browser. Consulte a
    seguinte página de ajuda para obter informações sobre como gerir as suas
    definições de privacidade e a eliminação de Flash cookies. • ETag/Etiqueta
    de entidade: uma funcionalidade da cache dos browsers, uma ETag é um
    identificador opaco atribuído por um servidor web a uma versão específica de
    um recurso presente num URL. Se o conteúdo do recurso existente nesse URL
    alguma vez for alterado, é atribuída uma ETag nova e diferente. Quando
    utilizadas desta forma, as ETags são uma forma de identificar dispositivos.
    A monitorização por ETag pode gerar valores de monitorização exclusivos
    mesmo quando o consumidor bloqueie os cookies HTTP, Flash e/ou HTML5. •
    Servidor web e registos de aplicação: Os nossos servidores reúnem
    automaticamente determinadas informações para nos ajudar a administrar e
    proteger os serviços que fornecemos, analisar a utilização e melhorar a
    experiência do utilizador. As informações recolhidas incluem: o Endereço IP
    e tipo de browser; o Sistema operativo do dispositivo e outros factos
    técnicos; o A cidade, distrito e país a partir de onde está a aceder ao
    Website; o As páginas visitadas e os conteúdos visualizados e armazenados; o
    Informações ou texto introduzidos; o Ligações e botões clicados.
  </p>
  <h1 class="title pp-title">Ligações a websites de terceiros</h1>
  <p class="big-block-text">
    O nosso site contém ligações para os websites dos nossos anunciantes
    parceiros, filiais e parceiros fornecedores de produtos. Caso siga uma
    ligação para qualquer um destes websites ou canais, tenha em atenção que
    estes têm as suas próprias políticas de privacidade; não aceitamos qualquer
    responsabilidade por estas políticas ou pelas informações pessoais que possa
    submeter nestes sites independentemente da sua interação com o nosso
    Website. Consulte estas políticas antes de submeter os seus dados pessoais a
    estes websites ou canais.
  </p>
  <h1 class="title pp-title">Alterações à nossa política de privacidade</h1>
  <p class="big-block-text">
    Quaisquer alterações futuras efetuadas à nossa política de privacidade serão
    publicadas nesta página e, quando apropriado, iremos notificá-lo por email.
    Verifique frequentemente para ver se existem atualizações ou alterações à
    nossa política de privacidade.
  </p>
  <h1 class="title pp-title">Como entrar em contacto connosco</h1>
  <p class="big-block-text">
    Quaisquer questões, comentários e pedidos relativos a esta política de
    privacidade são bem-vindos e devem ser endereçados para
    <a href="mailto:support@digiquot.com">support@digiquot.com.</a>
  </p>
</section>
<%- include("footer") -%>
