@media (max-width: 1151px) {
  .tracker {
    display: none;
  }

  body {
    overflow-x: hidden !important;
  }
  .countries {
    .countries {
      padding-bottom: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    // div {
    //   flex-direction: column;
    // }
  }
  .selection-button {
    max-width: 300px;
  }
  #catch-phrase {
    width: 80%;
  }
  #simulator-subtitle {
    font-size: 1.5rem !important;
  }

  #simulator-title {
    font-size: 1.5rem !important;
  }
  .services {
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .white-button {
    min-width: 120px;
  }
  .section-horizontal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .column-img {
    align-items: center;
    width: 90%;
    padding-right: 0;
    p {
      width: 90%;
    }
    h1 {
      text-align: center;
      width: 90%;
    }
  }
  .column {
    h1 {
      text-align: center;
      width: 90%;
    }
    align-items: center;
    width: 90%;
    padding-right: 0;
    p {
      width: 90%;
    }
  }

  .green-section {
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 5rem;
    align-items: center;
    height: 900px;
  }
  .vertical-block {
    bottom: 0;
  }

  .h2 {
    text-align: center;
    padding-bottom: 2rem;
  }
  .row {
    flex-direction: column;
    padding-right: 0;
  }

  .links {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 4rem;
    ul {
      padding-bottom: 2rem;
    }
  }

  #footer-title {
    width: 100%;
    text-align: left;
    padding-left: 4rem;
  }

  .selection {
    width: 100%;
  }

  .big-input-field {
    width: 300px;
    padding-left: 9%;
  }

  .small-input-field {
    padding-left: 9%;
  }
  .extraInfo-text {
    width: 100%;
  }

  .proposals {
    flex-direction: column;
  }

  .agency {
    align-items: center;
    margin-bottom: 2rem;
  }
  .freeLancer {
    align-items: center;
  }

  .simulator {
    padding-left: 7%;
    padding-right: 7%;
  }

  #budgets {
    padding-top: 0;
  }

  .services {
    justify-content: center;
  }

  .service {
    margin-right: 0;
  }

  #simulator-subtitle {
    padding-bottom: 2rem !important;
    padding-top: 2rem !important;
  }
}
@media (max-width: 1630px) {
  .simulator {
    padding-left: 5%;
    padding-right: 5%;
  }
  .service {
    margin-right: 1rem;
  }

  .countries {
    div {
      display: flex;
      justify-content: center;
      // align-items: center;
    }
  }
}

@media (max-width: 800px) {
  .countries {
    div {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 600px) {
  .continuar {
    width: 200px;
  }
  .tracker {
    display: none;
  }
  .selection-button:hover {
    background-image: url('../imgs/right-check-green.png');
  }

  #catch-phrase {
    font-size: 1.8rem;
    width: 100%;
  }

  .vertical-block {
    width: 100%;
  }
  #vertical1 {
    margin-bottom: 10rem;
  }

  .services {
    justify-content: center;
  }

  .small-input-field {
    padding-left: 13%;
    width: 100%;
  }
  .big-input-field {
    padding-left: 12%;
    width: 100%;
  }

  .cookie-container {
    width: 100vw;
    height: 115px;
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    padding-left: 3px;
    padding-right: 3px;
    color: black;
    text-align: center;
  }

  #cookie-accept {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 130px;
    height: 28px;
  }

  .lastStep {
    width: 90vw;
  }

  .orange-big-button {
    width: 300px !important;
    font-size: 1.1rem !important;
  }

  .selection-button {
    margin-right: 0 !important;
    width: 100% !important;
  }
  .selection-button {
    margin-right: 0 !important;
    width: 100% !important;
  }

  .landing-block-1 {
    padding-top: 0 !important;
  }

  .white-button {
    width: 120px;
    font-size: 1.2rem;
  }
}
