<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digiquot</title>
  </head>
  <body>
    <h1>Digiquot</h1>
    <h2>Obrigado Pela sua confiança</h2>
    <h3>Abaixo encontra a sua simulação</h3>
    <div>
      <h1><%= service %></h1>
      <ul>
        <% for( var p in data) { %>
        <li><%= p %>: <%= data[p] %></li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
